<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee details</h1>
    <table border="1">
        <tr>
            <th>Employee name</th>
            <th>Employee id</th>
            <th>Employee email</th>
            <th>Employee salary</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.employee_name}}</td>
            <td>{{x.employee_id}}</td>
            <td>{{x.employee_email}}</td>
            <td>{{x.employee_salary}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>